<div class="row mt-4">
    <h1 class="text-center">Login</h1>
    <div class="col-4 mx-auto">
        <form action="/auth/login" method="post">
            <div class="col mb-3">
                <input class="form-control" type="text" placeholder="phone number" name="phone">
            </div>
            <div class="col mb-3">
                <input class="form-control" type="password" placeholder="password" name="password">
            </div>
            <div class="d-grid gap-2 col">
                <button class="btn btn-danger" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>